.course-wrapper {
  min-height: 100vh;
  width: 100%;
}

.course-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-spinner i.ant-spin-dot-item {
  height: 3rem;
  width: 3rem;
  color: var(--primary-clr);
}

.heading-wrapper {
  background-color: var(--secondary-clr);
}

.heading-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 2.5rem;
  max-width: 1100px;
  margin: auto;
  height: 18rem;
  padding: 1rem;
}
.heading-section img {
  height: 90%;
  max-width: 80%;
  object-fit: cover;
  border: 3px solid white;
}

.course-description {
  color: white;
}

.course-description h1 {
  color: var(--primary-clr);
  margin-bottom: 1rem;
}

.course-description p {
  font-style: italic;
  padding: 0.5rem 1rem 1rem 0;
}

.course-description span {
  font-size: 0.9rem;
  color: #c3c3c3;
}

.course-description span:last-of-type {
  float: right;
}

.content-section {
  max-width: 1100px;
  margin: 1rem auto 1rem auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  grid-gap: 2rem;
}

.content-section h2 {
  text-align: center;
  grid-column: 1/3;
}

.left-content {
  display: grid;
  justify-content: center;
  grid-row-gap: 1rem;
}

.left-field,
.right-content {
  font-size: 1.3rem;
}

.left-field span {
  display: block;
  font-size: 1.8rem;
}

.left-field svg {
  margin-right: 0.5rem;
}

.right-content {
  display: grid;
  justify-content: center;
  grid-row-gap: 1rem;
}

.right-content span {
  font-size: 1.8rem;
}

.right-content ol {
  padding-left: 1rem;
}

.right-content li {
  padding-bottom: 0.5rem;
}

.bottom-content {
  text-align: center;
  grid-column: 1/3;
  padding: 0 2rem 0 2rem;
  width: 60%;
  margin: auto;
}
.bottom-content button {
  margin-top: 2rem;
}

.buy-button {
  height: 3rem;
  padding: 1rem;
  font-size: 1.05rem;
  color: white;
  background-color: var(--primary-clr);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.buy-button:hover {
  background-color: #b95238;
}
/* za side menu i lessone*/

.view-course-section {
  margin-top: 1rem;
  max-width: 1300px;
  margin: 1rem auto 1rem auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.side-menu {
  float: right;
  min-width: 15%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100%;
}

.side-menu li {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #c3c3c3;
  cursor: pointer;
}

.side-menu li:hover {
  background-color: #e2573483;
}

.active {
  border-left: 5px solid var(--primary-clr);
}
.video-heading {
  padding: 1rem 1rem 0 1rem;
}

.video-heading > h1 {
  color: var(--primary-clr);
  font-weight: 900;
  margin-top: 1rem;
}

.video-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.video-box p {
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
}
