.modal-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.modal-left {
  width: 40%;
  height: 100%;
  position: relative;
}

.modal-left-pic {
  width: 100%;
  height: 100%;
  background: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat center center/cover;
  filter: brightness(60%) contrast(0.7);
}

.modal-left-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.modal-left-title img {
  width: 30%;
}

.modal-left-title img:hover {
  animation: pulse 0.8s ease-in infinite alternate;
}

.modal-left-title h3 {
  padding-top: 1rem;
  font-size: 2.8rem;
  font-weight: lighter;
  color: #fff;
}

.modal-right-content {
  position: relative;
  width: 60%;
  background: linear-gradient(
    90deg,
    rgba(41, 50, 65, 1) 0%,
    rgb(64, 75, 94) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}
.modal-close-btn:hover {
  color: var(--primary-clr);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(100px);
  transition: all 400ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(100px);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 990px) {
  .modal-left {
    display: none;
  }
  .modal-right-content {
    width: 100%;
    border-radius: 1rem;
  }
}
