.testimonial-section {
  height: auto;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #f4f4f4;
  text-align: center;
}

.testimonial-section > h1 {
  max-width: 800px;
  margin: auto;
  color: var(--blue);
}

.swiper-container {
  margin-top: 2rem;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}
.swiper-wrapper {
  height: 10rem;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  height: 3rem;
  width: 3rem;
  z-index: 0;
  filter: blur(2px);
  transition: all 0.3s ease;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
}

.swiper-inner-circle {
  height: 100%;
  width: 3rem;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

.swiper-inner-circle::after {
  content: "";
  height: 110%;
  width: 110%;
  border-radius: 50%;
  background-color: #293241;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  transition: all 0.3s ease;
}

.swiper-inner-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.swiper-slide-prev,
.swiper-slide-next {
  height: 5rem;
  transition: all 0.3s ease;
  filter: blur(1px);
}

.swiper-slide-prev > .swiper-inner-circle,
.swiper-slide-next > .swiper-inner-circle {
  width: 5rem;
}

.swiper-slide-active {
  height: 8rem;
  filter: blur(0px);
  transition: all 0.3s ease;
}

.swiper-slide-active > .swiper-inner-circle {
  width: 8rem;
}

.testimonial-text-box {
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
  padding: 2rem;
  position: relative;
  color: var(--blue);
}

.fa-quote-left,
.fa-quote-right {
  position: absolute;
  font-size: 30px;
  color: var(--orange);
}

.fa-quote-left {
  top: -0.5rem;
  left: -1.3rem;
}
.fa-quote-right {
  bottom: -0.5rem;
  right: -1.3rem;
}

.fa-caret-down {
  font-size: 3rem;
  position: absolute;
  color: #c3c3c3;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--orange);
}
