.login-form {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.login-top-regular h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 0.4rem;
  color: #fff;
}
.login-top-regular h3 span {
  color: var(--primary-clr);
}
.login-top-regular > p {
  color: #ccc;
}

.login-form form {
  display: flex;
  flex-direction: column;
}
.login-form form > p:hover {
  color: var(--primary-clr);
}

.login-form input,
.login-submit {
  width: 260px;
  height: 2.6rem;
  border: none;
  padding: 1rem;
  margin: 0.7rem;
  border-radius: 14px;
  box-shadow: 2px 2px 8px rgba(32, 32, 32, 0.425);
}

.login-form .login-submit {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.login-form .login-submit:hover {
  background-color: #c5583c;
}

.login-form .login-username,
.login-form .login-password {
  color: var(--secondary-clr);
}
.login-bottom-external {
  display: flex;
  justify-content: center;
}
.login-bottom-external > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  margin: 0.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: #fff;
}

.bottom-down-login {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 280px;
}
.bottom-down-login span {
  text-decoration: underline;
  cursor: pointer;
}

.login-bottom-external > button:first-child {
  background-color: #e76357;
}
.login-bottom-external > button:last-child {
  background-color: #5d7fc2;
}

.login-bottom-external > button:first-child:hover {
  color: var(--secondary-clr);
  background-color: #fff;
}
.login-bottom-external > button:last-child:hover {
  color: var(--secondary-clr);
  background-color: #fff;
}
