.testimonial-section {
  min-height: 31rem;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #f4f4f4;
  text-align: center;
  transition: all 0.5s linear;
}

.testimonial-section > h1 {
  max-width: 800px;
  margin: auto;
  color: var(--secondary-clr);
}

.swiper-container {
  margin-top: 2rem;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}
.swiper-wrapper {
  height: 10rem;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  height: 3rem;
  width: 3rem;
  z-index: 0;
  filter: blur(2px);
  transition: all 0.3s ease;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
}

.swiper-inner-circle {
  height: 100%;
  width: 3rem;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

.swiper-inner-circle::after {
  content: "";
  height: 110%;
  width: 110%;
  border-radius: 50%;
  background-color: #293241;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  transition: all 0.3s ease;
}

.swiper-inner-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.swiper-slide-prev,
.swiper-slide-next {
  height: 5rem;
  transition: all 0.3s ease;
  filter: blur(1px);
}
.swiper-container {
  z-index: 0;
}

.swiper-slide-prev > .swiper-inner-circle,
.swiper-slide-next > .swiper-inner-circle {
  width: 5rem;
}

.swiper-slide-active {
  height: 8rem;
  filter: blur(0px);
  transition: all 0.3s ease;
}

.swiper-slide-active > .swiper-inner-circle {
  width: 8rem;
}

.testimonial-text-box {
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
  padding: 2rem;
  position: relative;
  color: var(--secondary-clr);
}

.testimonial-text-box h2 {
  font-style: normal;
  color: var(--primary-clr);
}

.fa-quote-left,
.fa-quote-right {
  position: absolute;
  font-size: 30px;
  color: var(--primary-clr);
}

.fa-quote-left {
  top: -0.5rem;
  left: -1.3rem;
}
.fa-quote-right {
  bottom: -0.5rem;
  right: -1.3rem;
}

.fa-caret-down {
  font-size: 3rem;
  position: absolute;
  color: #c3c3c3;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-clr);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.fadeIn {
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.add-testimonial-section {
  background: linear-gradient(
    90deg,
    rgb(231, 117, 89) 0%,
    rgb(231, 138, 115) 100%
  );
  padding: 2.4rem;
  text-align: center;
  color: var(--secondary-clr);
}
.add-testimonial-section h1 {
  color: white;
  /*mozemo li bez italica sve je top ali mi to bode oci */
  /* font-style: italic; */
  font-family: "Amatic SC", cursive;

  font-size: 3rem;
  font-weight: 900;
}

.add-testimonial-section h3 {
  color: white;
  /* font-family: "Indie Flower", cursive; */
  /*mozemo li bez italica sve je top ali mi to bode oci */
  /* font-style: italic; */
}

.add-testimonial-section button {
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
  background: linear-gradient(
    90deg,
    rgba(41, 50, 65, 1) 0%,
    rgba(83, 90, 102, 1) 100%
  );
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  /* box-shadow: 0px 0px 5px black; */
  transform: scale(1);
}

.add-testimonial-section button:hover {
  background: white;
  color: var(--secondary-clr);
}

.add-testimonial-section button:focus {
  outline: none;
}
.ant-modal .ant-modal-content {
  border-radius: 1rem;
}

.ant-modal-content .ant-modal-header {
  background-color: var(--secondary-clr);
  font-weight: 900;
  border-radius: 1rem 1rem 0 0;
}

.ant-modal-content .ant-modal-header .ant-modal-title {
  font-weight: 900;
  color: white;
  padding: 0.3rem;
}

.ant-modal {
  border-radius: 1rem;
}

.ant-modal-footer .ant-btn-primary {
  background-color: var(--primary-clr);
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  height: 3rem;
}

.ant-modal-footer .ant-btn {
  font-size: 1rem;
  border-radius: 10px;
  height: 3rem;
}
.ant-modal-footer .ant-btn:hover {
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}

.ant-modal-footer .ant-btn-primary:hover,
.ant-modal-footer .ant-btn-primary:focus {
  background-color: #b94f35;
  color: white;
}

.ant-modal-body p {
  color: red;
  font-style: italic;
}

.ant-modal-content .ant-modal-close-x .anticon svg {
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1.2rem;
}

@media (max-width: 1000px) {
  .testimonial-section {
    padding: 2rem;
  }

  .testimonial-text-box {
    width: 60%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .testimonial-section {
    padding: 1.5rem 0.5rem 0.5rem 1rem;
  }
}

@media (max-width: 600px) {
  .testimonial-text-box {
    width: 90%;
    margin-bottom: 1rem;
  }
}
