.user-page {
  min-height: 94vh;
}

.profile-courses-display {
  margin-bottom: 4rem;
}

.profile-user-back {
  background: linear-gradient(
    90deg,
    rgb(222, 227, 236) 0%,
    rgb(192, 199, 211) 100%
  );
}

.profile-user-info {
  display: flex;
  align-items: center;
}

.profile-user-image-section {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 3rem 0 3rem 2rem;
}

.profile-user-info img {
  width: 100%;
  height: 100%;
  border-radius: 115px;
  object-fit: cover;
  box-shadow: 2px 2px 5px #777, 0px 0px 0px 20px #fff;
}

.edit-image-btn {
  cursor: pointer;
  height: 2.6rem;
  width: 2.6rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(222, 227, 236) 100%
  );
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-size: 1.4rem;
  box-shadow: 0px 0px 0px 7px rgba(233, 148, 127, 1);
  transition: box-shadow 0.3s;
}

.edit-image-btn:hover {
  box-shadow: 0px 0px 0px 7px rgb(224, 117, 91);
}

.profile-about-user {
  padding-left: 3rem;
}

.profile-about-user h3 {
  color: var(--secondary-clr);
  font-size: 1.6rem;
  font-weight: bold;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-clr);
}

.profile-about-user h3 > span {
  font-size: 1.3rem;
  color: #999;
}
.profile-about-occupation {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.profile-dob {
  font-size: 0.9rem;
  color: #999;
}
.profile-location {
  font-size: 0.9rem;
  padding: 0.5rem 0 0.5rem;
  color: #999;
}

.edit-profile-btn {
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 30px;
}

.dashboard-profile-btn {
  cursor: pointer;
  border: none;
  padding: 0.7rem 2.3rem 0.7rem;
  color: #fff;
  transition: all 0.2s;
  outline: none;
  font-size: 1rem;
  border-radius: 30px;
  background-color: var(--secondary-clr);
  margin-left: 1rem;
}

.dashboard-profile-btn:hover {
  opacity: 0.8;
}

.profile-courses-nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

.profile-nav-item {
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem;
  height: 40px;
}

.profile-nav-item:hover {
  color: var(--primary-clr);
  border-bottom: var(--primary-clr) 1px solid;
}

.edit-img-modal .ant-modal-content {
  border-radius: 20px;
  overflow: hidden;
}

.edit-img-modal .ant-modal-content .ant-input {
  background-color: #fff;
  border: 1px solid #ccc;
}

.edit-img-modal
  .ant-modal-content
  .ant-modal-footer
  button.ant-btn.ant-btn-primary {
  background-color: var(--primary-clr);
  border: none;
}

.ant-input-affix-wrapper input#confirm,
.ant-input-affix-wrapper input#password,
.ant-input-affix-wrapper input#oldPassword {
  border: none;
}

@media (max-width: 1000px) {
  .profile-user-info {
    padding-top: 2.5rem;
  }
}

@media (max-width: 700px) {
  .profile-user-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 4rem 0.3rem 2rem 0.3rem;
  }

  .profile-user-image-section {
    width: 10rem;
    height: 10rem;
  }

  .profile-about-user p {
    padding: 0;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 500px) {
  .profile-user-info {
    grid-template-columns: 1fr;
    padding: 4rem 0 1rem 0;
  }

  .profile-user-image-section {
    justify-self: center;
    margin: 0 0 1rem 0;
  }

  .profile-about-user {
    padding-left: 0.5rem;
  }
}
