body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default Colors */
:root {
  --primary-clr: #ee6c4d;
  --secondary-clr: #293241;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  padding: 0.7rem 2.3rem 0.7rem;
  background: linear-gradient(
    90deg,
    rgba(238, 108, 77, 1) 0%,
    rgba(233, 148, 127, 1) 100%
  );

  color: #fff;
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}

/* disabled in BETA version */
.disabled {
  position: relative;
}

.disabled:hover {
  opacity: 0.5 !important;
}
.disabled:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(3px);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}
