.main-nav {
  height: 65px;
  box-shadow: 5px 0 5px #c8c8c8;
}

.main-nav-dash {
  background-color: var(--secondary-clr);
}
.container-nav {
  display: flex;
  height: 100%;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.container-nav-dash {
  display: flex;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.main-nav .main-nav-left img {
  height: 50px;
}

.main-nav-right-content {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-nav-right-content li {
  padding: 0.7rem 1.3rem 0.7rem;
  margin-left: 0.5rem;
  line-height: 1rem;
}

.main-nav-right-content li:hover {
  cursor: pointer;
}

.main-nav-right-content li:last-child {
  background: linear-gradient(
    90deg,
    rgba(238, 108, 77, 1) 0%,
    rgb(224, 142, 121) 100%
  );
  color: #fff;
  border-radius: 15px;
  border: 1px solid var(--primary-clr);
}

.main-nav-right-content li:first-child {
  border: 1px solid var(--secondary-clr);
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(41, 50, 65, 1) 0%,
    rgba(83, 90, 102, 1) 100%
  );
  border-radius: 15px;
}

.main-nav-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-nav-mid form {
  height: 65%;
  width: 100%;
}

.main-nav-mid input {
  color: #333;
  /*font-size: 1.2rem;*/
  height: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 0 1rem 0;
}
.main-nav-mid input::placeholder {
  color: #ccc;
}

.nav-user-info .drop {
  cursor: pointer;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.nav-user-dashboard {
  background-color: #ffffff;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-radius: 50px;
}

.nav-avatar {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.nav-drop-item-l {
  color: var(--secondary-clr);
  text-align: center;
  width: 170px;
}
.mobile-left-logo {
  display: none;
}
.ant-dropdown-menu-item {
  border-bottom: 1px solid #ccc;
}

.ant-dropdown-placement-bottomRight > .ant-dropdown-menu-vertical {
  margin-top: 1rem;
  padding: 0;
}

@media (max-width: 990px) {
  /* @import "~antd/dist/antd.css"; */
  .main-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    min-height: 100vh;
    /* transform: translateX(100%); */
    box-shadow: none;
    transition: transform 0.7s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
  }
  .mobile-left-logo {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .mobile-left-logo img {
    height: 70px;
    margin-left: 0.3rem;
  }
  /* START menu-btn */
  .menu-btn-resp {
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-burger-btn {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-burger-btn::before,
  .menu-burger-btn::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(90, 90, 90, 0.212);
    transition: all 0.5s ease-in-out;
  }
  .menu-burger-btn::before {
    transform: translateY(-16px);
  }
  .menu-burger-btn::after {
    transform: translateY(16px);
  }
  .menu-btn-resp.open .menu-burger-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn-resp.open .menu-burger-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn-resp.open .menu-burger-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  /* END menu-btn*/

  .main-nav-mid {
    flex-direction: column-reverse;
  }
  .main-nav-dash {
    background-color: var(--secondary-clr);
  }
  .main-nav-right {
    width: 100%;
    text-align: center;
  }
  .main-nav-right-content {
    flex-direction: column;
    width: 100%;
  }
  .container-nav {
    flex-direction: column;
    width: 100%;
  }

  .main-nav-right-content li:last-child {
    background: transparent;
    color: var(--secondary-clr);
    border-radius: 0px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .main-nav-right-content li:first-child {
    border: none;
    border-top: 1px solid #ccc;
    background: transparent;
    color: var(--secondary-clr);
    border-radius: 0;
  }

  .main-nav-right-content li {
    padding: 0;
    margin-left: 0;
    display: block;
    width: 100%;
    padding: 1.3rem;
  }
  .main-nav .main-nav-left img {
    height: 57px;
    margin-bottom: 1rem;
  }
}
