/* @import "~antd/dist/antd.css"; */
.main-nav {
  height: 72px;
  box-shadow: 5px 0 5px #c8c8c8;
}

.main-nav-dash {
  background-color: var(--secondary-clr);
}
.container-nav {
  display: flex;
  height: 100%;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.container-nav-dash {
  display: flex;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.main-nav .main-nav-left img {
  height: 50px;
}

.main-nav-right-content {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-nav-right-content li {
  padding: 0.7rem 1.3rem 0.7rem;
  margin-left: 0.5rem;
  line-height: 1rem;
}

.main-nav-right-content li:hover {
  cursor: pointer;
}

.main-nav-right-content li:last-child {
  background: linear-gradient(
    90deg,
    rgba(238, 108, 77, 1) 0%,
    rgb(224, 142, 121) 100%
  );
  color: #fff;
  border-radius: 15px;
  border: 1px solid var(--primary-clr);
}

.main-nav-right-content li:first-child {
  border: 1px solid var(--secondary-clr);
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(41, 50, 65, 1) 0%,
    rgba(83, 90, 102, 1) 100%
  );
  border-radius: 15px;
}

.main-nav-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-nav-mid form {
  height: 65%;
  width: 100%;
}

.main-nav-mid input {
  color: #333;
  font-size: 1.2rem;
  height: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 0 1rem 0;
}
.main-nav-mid input::placeholder {
  color: #ccc;
}

.nav-user-info .drop {
  cursor: pointer;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.nav-user-dashboard {
  background-color: #ffffffbd;
  padding: 0rem 1rem 0rem 0rem;
  border-radius: 50px;
  color: teal;
}

.nav-avatar {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.nav-drop-item-l {
  color: var(--secondary-clr);
  text-align: center;
  width: 170px;
}

.ant-dropdown-menu-item {
  border-bottom: 1px solid #ccc;
}

.ant-dropdown-placement-bottomRight > .ant-dropdown-menu-vertical {
  margin-top: 1rem;
  padding: 0;
}
