.about-us {
  min-height: 350px;
  background: linear-gradient(
    90deg,
    rgba(41, 50, 65, 1) 0%,
    rgba(62, 70, 84, 1) 100%
  );
  text-align: center;
}

.container {
  width: 100%;
}

.about-us h3 {
  font-size: 1.5rem;
  color: #fff;
}
.about-content p {
  padding: 0.7rem;
  color: rgb(218, 218, 218);
}

.about-content .snd-title {
  color: var(--primary-clr);
  font-size: 1.8rem;
  margin-bottom: 0;
}

.about-us-display {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.about-us-display img {
  height: 100%;
  width: 40%;
  /* border-radius: 10px; */
  padding: 0.8rem;
  box-shadow: 50px 50px 0px var(--primary-clr);
  margin-bottom: 4rem;
}

.about-us .about-content {
  padding: 1rem 5rem 1.5rem;
}

@media (max-width: 800px) {
  .about-us {
    margin: auto;
    padding: 1rem;
  }
  .about-us-display {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }

  .about-us-display img {
    margin-bottom: 0;
    height: 100%;
    width: auto;
  }

  .about-us .about-content {
    margin-top: 3rem;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .about-us .about-content {
    padding: 0;
  }
}
